* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    scroll-behavior: smooth;
}

:root {
    --grayText: #606060;
    --primary: #0061FF;
    --primary-hover: #5e98f6;
    --bg-primary: #B4D0E7;
    --lightgrey: #cccccc;
    /* card customers color styles */
    --designit: #A2D39B;
    --designit-border: #D1E9CD;
    --asu: #61082B;
    --uf: #0093CE;
    --topps: #FF1C1C;
    --centercard: #F5F5F5;
    --wbr: #D5001F;
    --lonley: #0D2481;
    --hearst: #B4D0E7;
    --clear: #FFD830;

}

img{
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.d-inlineBlock {
    display: inline-block;
}

.d-flex {
    display: flex;
}
.flex-column{
    display: flex;
    flex-flow: column nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.fixed {
    position: fixed;
}
.p-1 {
    padding: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.w100 {
    min-width: 100%;
}

.gx-1 {
    gap: 0 1rem;
}

.gx-2 {
    gap: 0 2rem;
}

.gx-3 {
    gap: 0 3rem;
}

.gy-1 {
    gap: 1rem 0;
}

.gy-2 {
    gap: 2rem 0;
}

.gy-3 {
    gap: 2rem 0;
}

.text-bold{
    font-weight: 600;
}
.b-1{
    border: 1px solid var(--lightgrey);
}

.btn {
    padding: .7rem 1rem;
    background-color: white;
    transition: all .3s;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-secondary{
    background-color: white;
    color: var(--grayText);
    border: 1px solid var(--grayText);
}

.btn:hover,
.btn:active,
.btn:focus {
    filter: brightness(1.8) saturate(0.8);
}

section{
    padding-bottom: 8rem;
}

/* header */
nav {
    min-height: 60px;
    color: var(--grayText);
}

nav .navbar {
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid var(--lightgrey);
}

#jumbotron {
    min-height: 70vh;
    background-color: var(--bg-primary);
    padding-top: 3.5rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 6rem;
    margin-bottom: 3rem;
}

.textHeaderContainer {
    width: 25%;
    color: var(--grayText);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.headerImg img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.headerImg {
    width: 70%;
    position: relative;
}

header i {
    font-size: 3rem;
    color: black;
    margin-top: 35%;
}

/* main */
h2 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 2rem;
}
.radioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
}
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eeeeee;
    border-radius: 50%;
}
input:checked~.checkmark {
    background-color: var(--primary);
}
input:checked~.checkmark:after {
    display: block;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
    padding: 7px;
    border-radius: 50%;
    background: white;
}
.card{
    width: calc(100% / 3);
}
.cardHeader{
    border-bottom: 1px solid var(--lightgrey);
}
h3{
    font-weight: 400;
    text-align: center;
}
.cardBody{
    padding: 0 2rem;
    gap: 2rem 0;
}
h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.cardBody a{
    text-align: center;
}
.cardBody ul li {
    margin-top: 1rem;
    font-size: 1rem;
}
.share:before, .users:before, .storage:before{
    font-family: "Font Awesome 5 Free"; font-weight: 600; 
    display: inline-block;
    margin-right: 10px;
}
.share:before{
    content: "\f1e0";
}
.storage:before{
    content: '\f07b';
}
.users:before{
    content: '\f007';
}
.buyNow{
    text-decoration: underline;
    color: var(--primary);
}
.cardBody hr{
    border: 0;
    height: 0;
    border-top: 1px solid #0000001a;
    border-bottom: 1px solid #0000001a;
    width: 25%;
}
.cardFooter li:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    display: inline-block;
    margin-right: 10px;
    content: '\f00c';
    color: var(--primary);
}
/* partner */
#partner .container-sm div:first-child{
    min-width: 60%;
}
#partner img{
    display: block;
    width: 100%;
}
#partner .container-sm div:last-child{
    padding: 2.5rem;
}
#partner a{
    align-self: flex-start;
}
/* features */
#features p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* customers */
#customers h2{
    max-width: 60%;
}
.customersLogos{
    max-width: 100%;
}
.customer{
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
}
.firstBlock, .secondBlock, .center{
    width: calc((100vw  / 3));
    height: calc((100vw  / 3));
}
div.customer img{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(5);
}
.designit{
    background-color: var(--designit);
    box-shadow: inset 0 0 0 15px  var(--designit-border);
}
.asu{
    background-color: var(--asu);
}
.uf{
    background-color: var(--uf);
}
.topps{
    background-color: var(--topps);
}
.center{
    background-color: var(--centercard);
}


